* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mapContainer {
    height: 99vh;
    width: 100vw;
}

#map {
    height: 100%
}


form {
    width: 20rem;
    border: 1px solid black;
    z-index: 5;
    background: white;
}